In [9]:
import pandas as pd
import os

In [10]:
file = open('address.txt','r')
print(file)

<_io.TextIOWrapper name='address.txt' mode='r' encoding='cp1252'>

In [11]:
listOfList = []

In [12]:
count = 0
while True:
    count += 1
 
    # Get next line from file
    line = file.readline()
 
    # if line is empty
    # end of file is reached
    if not line or line == '':
        break
    listOfList.append([ line ])
    #print("Line{}: {}".format(count, line.strip()))
 
print(count)

4801

In [13]:
df = pd.DataFrame(listOfList, columns = ['raw_address'])
df.head()

                                         raw_address
0  # , T-90834 Thrishika nilaya , suvarana Nagar ...
1  # T-90224 Nanda Gokula , 7th Cross , Telecom l...
2  # T-90323 floo , r avs paradise 3rd main , sam...
3  # T-90351 main Sanmarga road 10th main Sanmarg...
4  # T-90613 Pallava terrace apartment wing A 6th...

In [14]:
df.describe()

                                              raw_address
count                                                4800
unique                                               4799
top     D-9 3/15 anandvan society sector 25 , near amr...
freq                                                    2

In [15]:
df.isnull().sum()

raw_address    0
dtype: int64

In [16]:
df.to_csv('input/raw_addresses 2.csv')