In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('input/raw_addresses 2.csv',index_col=0)
df.head()

                                         raw_address
0  # , T-90834 Thrishika nilaya , suvarana Nagar ...
1  # T-90224 Nanda Gokula , 7th Cross , Telecom l...
2  # T-90323 floo , r avs paradise 3rd main , sam...
3  # T-90351 main Sanmarga road 10th main Sanmarg...
4  # T-90613 Pallava terrace apartment wing A 6th...

In [3]:
df.shape

(4800, 1)

In [10]:
import re
str = 'asdasd 45646 ssfdsf'
print(re.search('[456]*',str))

<re.Match object; span=(0, 0), match=''>